[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Exec=libreoffice--writer %U
MimeType=application/x-aportisdoc;application/x-pocket-word;application/x-pocket-excel;
Name=LibreOffice Small Device Format Importer
Name[pt_BR]=LibreOffice Small Device Format Importer
GenericName=Small Device Format Importer
GenericName[en]=Small Device Format Importer
GenericName[af]=Small Device Format Importer
GenericName[ar]=Small Device Format Importer
GenericName[as]=সৰু ডিভাইচ বিন্যাস ইমপোৰ্টাৰ
GenericName[ast]=Importador de formatos pa preseos pequeños
GenericName[be]=Імпарцёр з малых прыладаў
GenericName[bg]=Импорт от формати за малки устройства
GenericName[bn]=ছোট ডিভাইসের ফরম্যাট ইম্পোর্টার
GenericName[bo]=Small Device Format Importer
GenericName[br]=Enporzhierez evit mentrezhoù trobarzhelloù bihan
GenericName[brx]=Small Device Format Importer
GenericName[bs]=Uvoz formata za male uređaje
GenericName[ca]=Importador de formats de dispositius petits
GenericName[ca_XV]=Importador de formats de dispositius petits
GenericName[cs]=Import formátů pro malá zařízení
GenericName[cy]=Mewnforiwr Fformat Dyfais Bach
GenericName[da]=Lille Enhed Format Importer
GenericName[de]=Importieren von Kleingeräte-Dateiformaten
GenericName[dgo]=Small Device Format Importer
GenericName[dz]=Small Device Format Importer
GenericName[el]=Small Device Format Importer
GenericName[en_GB]=Small Device Format Importer
GenericName[en_ZA]=Small Device Format Importer
GenericName[eo]=Importilo por aparateta formato
GenericName[es]=Importador de formatos para dispositivos pequeños
GenericName[et]=Väikeseadmevormingute importija
GenericName[eu]=Gailu txikien formatuen inportatzailea
GenericName[fa]=درون‌ریز قالب دستگاه‌های کوچک
GenericName[fi]=Tuontimuunnin kämmentietokoneissa käytettäville asiakirjatyypeille
GenericName[fr]=Importateur de format de petit périphérique
GenericName[ga]=Iompórtálaí Formáidí do Ghléasanna Beaga
GenericName[gd]=Ion-phortaichear fòrmat de dh'innealan beaga
GenericName[gl]=Pequeno dispositivo importador de formato
GenericName[gu]=નાનું ઉપકરણ બંધારણ આયાત કરનાર
GenericName[he]=מייבא פורמט רכיבים קטנים
GenericName[hi]=Small Device Format Importer
GenericName[hr]=Uvoznik oblika za male uređaje
GenericName[hu]=Small Device Format importáló
GenericName[id]=Pengimpor Format Perangkat Kecil
GenericName[is]=Innflutningur sniða fyrir smátæki
GenericName[it]=Importatore di formato per piccoli dispositivi
GenericName[ja]=小型機器形式のインポート
GenericName[ka]=Small Device Format Importer
GenericName[kk]=Small Device Format Importer
GenericName[km]=កម្មវិធី​នាំចូល​ទ្រង់ទ្រាយ​ឧបករណ៍​តូច
GenericName[kn]=ಸಣ್ಣ ಸಾಧನ ವಿನ್ಯಾಸ ಆಮದುಗಾರ
GenericName[ko]=Small Device 형식 불러오기
GenericName[kok]=Small Device Format Importer
GenericName[ks]=Small Device Format Importer
GenericName[ku]=Cîhaza Biçûk ya Teşe Anîna Hundir
GenericName[lo]=Small Device Format Importer
GenericName[lt]=Mažųjų įrenginių formato importas
GenericName[lv]=Mazo ierīču formātu importētājs
GenericName[mai]=Small Device Format Importer
GenericName[mk]=Small Device Format Importer
GenericName[ml]=Small Device Format Importer
GenericName[mn]=Small Device Format Importer
GenericName[mni]=Small Device Format Importer
GenericName[mr]=स्मॉल डिव्हाइस रूपण आयातकर्ता
GenericName[my]=Small Device Format Importer
GenericName[nb]=Formatimportering for små enheter
GenericName[ne]=Small Device Format Importer
GenericName[nl]=Importeren van indeling klein apparaat
GenericName[nn]=Small Device Format Importer
GenericName[nr]=Small Device Format Importer
GenericName[nso]=Small Device Format Importer
GenericName[oc]=Importar format de periferic
GenericName[om]=Sina Olerga Meeshaa Xiqqaa
GenericName[or]=କ୍ଷୁଦ୍ର ଉପକରଣ ସଜ୍ଜିକରଣ ଶୈଳୀ ଆମଦାନୀକାରୀ
GenericName[pa_IN]=ਛੋਟਾ ਜੰਤਰ ਫਾਰਮੈਟ ਇੰਪੋਰਟਰ
GenericName[pl]=Importer formatów małych urządzeń
GenericName[pt]=Importação de formatos de pequenos dispositivos
GenericName[pt_BR]=Importador de formatos de dispositivos pequenos
GenericName[ro]=Small Device Format Importer
GenericName[ru]=Импорт в формат Small Device
GenericName[rw]=Small Device Format Importer
GenericName[sa_IN]=Small Device Format Importer
GenericName[sat]=Small Device Format Importer
GenericName[sd]=Small Device Format Importer
GenericName[sh]=Uvoz za Small Device Format
GenericName[si]=Small Device Format Importer
GenericName[sk]=Importér formátu Small Device Format 
GenericName[sl]=Uvoznik zapisov majhnih naprav
GenericName[sq]=Small Device Format Importer
GenericName[sr]=Увоз за Small Device Format
GenericName[ss]=Small Device Format Importer
GenericName[st]=Small Device Format Importer
GenericName[sv]=Formatimportör för små enheter
GenericName[sw_TZ]=Small Device Format Importer
GenericName[ta]=சிறிய சாதன வடிவ ஏற்றி
GenericName[te]=చిన్న పరికర ఆకృతీకరణదిగుమతికారి
GenericName[tg]=Small Device Format Importer
GenericName[th]=Small Device Format Importer
GenericName[tn]=Small Device Format Importer
GenericName[tr]=Küçük Aygıt Biçim İçe Aktarıcısı
GenericName[ts]=Small Device Format Importer
GenericName[ug]=كىچىك ئۈسكۈنە فورمات ئەكىرگۈچ
GenericName[uk]=Small Device Format Importer
GenericName[uz]=Small Device Format Importer
GenericName[ve]=Small Device Format Importer
GenericName[vi]=Trình nhập định đạng Small Device
GenericName[xh]=Small Device Format Importer
GenericName[zh_CN]=小设备格式导入器
GenericName[zh_TW]=小型裝置格式匯入工具
GenericName[zu]=Small Device Format Importer
NoDisplay=true
