[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/qtconfig
Name=Qt4 Configuration
Name[bg]=Настройки на Qt4
Name[cs]=Nastavení Qt4
Name[da]=Qt4 Indstillinger
Name[de]=Qt4 Konfiguration
Name[el]=Ρυθμίσεις Qt4
Name[es]=Ajustes de Qt4
Name[fi]=Qt4-asetukset
Name[fr]=Paramètres Qt4
Name[hu]=Qt4 beállítások
Name[it]=Configurazione Qt4
Name[ja]=Qt4設定
Name[km]=ការ​កំណត់​របស់ Qt4
Name[nb]=Qt4-innstillinger
Name[nl]=Qt4-instellingen
Name[pa]=Qt4 ਸਥਾਪਨ
Name[pl]=Konfiguracja Qt4
Name[pt]=Definições Qt4
Name[pt_BR]=Configurações Qt4
Name[ru]=Настройка Qt4
Name[sv]=Qt4-inställningar
Name[uk]=Параметри Qt4
Name[zh_CN]=Qt4 设置
Name[zh_TW]=Qt4 設定
Comment=A graphical configuration tool for programs using Qt4 
Comment[it]=Un tool di configurazione grafico per i programmi che usano le Qt4
Comment[de]=Ein grafisches Konfigurationstool f??r Qt4-Programme
Comment[ru]=Графическое средство настройки программ иcпользующих Qt4
MapNotify=true
MimeType=application/x-qtconfig
Terminal=false
Icon=qt4qtconfig
Type=Application
Categories=Qt;Settings;
