[Desktop Entry]
Name=Battery indicator
Name[ru]=Индикатор батареи
Comment=Displays battery status
Comment[ru]=Показывает состояние батареи
Icon=batti
Exec=batti
Terminal=false
Type=Application
Categories=Application;GTK;Utility;
