[Desktop Entry]
Name=Eric IDE
Comment=A full featured Python IDE
Icon=eric4
Exec=eric4
Terminal=false
Type=Application
Categories=Qt;Development;IDE;
