[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-printeradmin
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;
Exec=libreoffice-printeradmin
Name=LibreOffice  Printer Administration
Name[en]=LibreOffice Printer Administration
Name[af]=LibreOffice -drukkeradministrasie
Name[ar]=إدارة طابعات LibreOffice 
Name[as]=LibreOffice মুদ্ৰক প্ৰশাসন
Name[ast]=Alministración de la imprentadora de LibreOffice 
Name[be]=Кіраванне прынтэрам LibreOffice 
Name[bg]=Администриране на принтера за LibreOffice 
Name[bn]=LibreOffice মুদ্রণযন্ত্র পরিচালনা
Name[bo]=LibreOffice པར་འཁོར་དོ་དམ།
Name[br]=Ardoadur moullerez LibreOffice 
Name[brx]=LibreOffice साफायग्रा खुंथाय
Name[bs]=LibreOffice administracija štampača
Name[ca]=Administració d'impressió de LibreOffice 
Name[ca_XV]=Administració d'impressió de LibreOffice 
Name[cs]=Administrace tiskáren LibreOffice 
Name[cy]=Gweinyddu Argraffu LibreOffice 
Name[da]=LibreOffice -printeradministration
Name[de]=LibreOffice Druckerverwaltung
Name[dgo]=LibreOffice छापक  प्रशासन
Name[dz]=LibreOffice དཔར་འཕྲུལ་ བདག་སྐྱོང་།
Name[el]=Διαχείριση εκτυπωτή LibreOffice 
Name[en_GB]=LibreOffice Printer Administration
Name[en_ZA]=LibreOffice Printer Administration
Name[eo]=LibreOffice presila administrado
Name[es]=Administración de la impresora de LibreOffice 
Name[et]=LibreOffice printerihaldus
Name[eu]=LibreOffice inprimagailu-administrazioa
Name[fa]=مدیریت چاپگر LibreOffice 
Name[fi]=LibreOffice - Tulostimen hallinta
Name[fr]=Gestion des imprimantes de LibreOffice 
Name[ga]=Riarachán na bPrintéirí LibreOffice 
Name[gd]=Rianachd clò-bhualadairean LibreOffice 
Name[gl]=Administración da impresora de LibreOffice 
Name[gu]=LibreOffice  પ્રિન્ટર સંચાલન
Name[he]=ניהול מדפסות ‏‪LibreOffice ‬‏‏
Name[hi]=LibreOffice Printer Administration
Name[hr]=LibreOffice Administracija pisača
Name[hu]=LibreOffice Nyomtatókezelés
Name[id]=Administrasi Pencetak LibreOffice 
Name[is]=LibreOffice prentarastjórnun
Name[it]=LibreOffice Gestione stampanti
Name[ja]=LibreOffice プリンタの管理
Name[ka]=LibreOffice პრინტერის ადმინისტრაცია
Name[kk]=LibreOffice Баспаны басқару
Name[km]=ការ​គ្រប់គ្រង​ម៉ាស៊ីន​បោះពុម្ព​ LibreOffice 
Name[kn]=LibreOffice ಮುದ್ರಕ ನಿರ್ವಹಣೆ
Name[ko]=LibreOffice 프린터 관리
Name[kok]=LibreOffice मुद्रक प्रशासन
Name[ks]=LibreOffice Printer Administration
Name[ku]=LibreOffice Rêvebiriya Çapgerê
Name[lo]=LibreOffice ການຈັດການເຄື່ອງພີມ
Name[lt]=„LibreOffice “ spausdintuvo tvarkymas
Name[lv]=LibreOffice printera administrēšana
Name[mai]=LibreOffice मुद्रक प्रशासन
Name[mk]=Администрирање на печатачи во LibreOffice 
Name[ml]=LibreOffice പ്രിന്റര്‍ അഡ്മിനിസ്ട്രേഷന്‍
Name[mn]=LibreOffice Хэвлэгчийн удирдлага
Name[mni]=LibreOffice প্রিন্তরগী ৱায়েন থৌদা
Name[mr]=LibreOffice मुद्रक प्रशासन
Name[my]=LibreOffice ပရင်တာ စီမံခန့်ခွဲမှု
Name[nb]=LibreOffice -skriveradministrasjon
Name[ne]=LibreOffice मुद्रक प्रशासन
Name[nl]=LibreOffice -printerbeheer
Name[nn]=LibreOffice -skrivaradministrasjon
Name[nr]=LibreOffice Ukuphathwa Kwesigadangisi
Name[nso]=Taolo ya segatiši ya LibreOffice 
Name[oc]=Gestion de las estampadoiras de LibreOffice 
Name[om]=Bulchiinsa Maxxansaa LibreOffice 
Name[or]=LibreOffice ପ୍ରିଣ୍ଟର ପ୍ରଶାସନ
Name[pa_IN]=LibreOffice ਪਰਿੰਟਰ ਐਡਮਿਨਸਟੇਟਰ
Name[pl]=LibreOffice - Zarządzanie drukarką
Name[pt]=Administração de impressoras do LibreOffice 
Name[pt_BR]=Administrador de impressoras do LibreOffice 
Name[ro]=Administrare imprimantă LibreOffice 
Name[ru]=LibreOffice Управление принтером
Name[rw]=Ubugenzuzi bwa Mucapyi LibreOffice 
Name[sa_IN]=LibreOffice मुद्रकप्रशासनम्
Name[sat]=LibreOffice छापा सासोनिक्
Name[sd]=LibreOffice  پرنٽر جو انتظام 
Name[sh]=LibreOffice podešavanje štampača
Name[si]=LibreOffice මුද්‍රණ පරිපාලක
Name[sk]=Správa tlačiarní LibreOffice 
Name[sl]=Nastavitve tiskalnika LibreOffice 
Name[sq]=LibreOffice Administrim i shtypësit
Name[sr]=LibreOffice подешавање штампача
Name[ss]=LibreOffice kuphatfwa kwephrinta
Name[st]=Taolo ya Sehatisi ya LibreOffice 
Name[sv]=LibreOffice skrivaradministration
Name[sw_TZ]=LibreOffice Utawala wa Printa
Name[ta]=LibreOffice அச்சுப்பொறி நிர்வாகம்
Name[te]=ముద్రణా యంత్రం `యొక్క LibreOffice నిర్వహించు.
Name[tg]=Идоракунии чопкунаки LibreOffice 
Name[th]=ตัวบริหารจัดการเครื่องพิมพ์ LibreOffice 
Name[tn]=LibreOffice Printer Administration
Name[tr]=LibreOffice Yazıcı Yönetimi
Name[ts]=Vukongomisi bya Printa LibreOffice 
Name[ug]=LibreOffice پرىنتېر باشقۇرۇش
Name[uk]=Налаштування принтера LibreOffice 
Name[uz]=LibreOffice printerni boshqarish
Name[ve]=Mulanguli wa Phirinthara wa LibreOffice 
Name[vi]=Quản trị máy in LibreOffice 
Name[xh]=Ulawulo Lwesishicileli lwe-LibreOffice 
Name[zh_CN]=LibreOffice 打印机管理
Name[zh_TW]=LibreOffice 印表機管理
Name[zu]=LibreOffice Ukuphathwa komshicileli
Name[pt_BR]=LibreOffice Printer Administration

