[Desktop Entry]
Name=OpenJDK 7 Policy Tool
Comment=Manage OpenJDK policy files
Exec=/usr/bin/java7-policytool
Icon=java
Terminal=false
Type=Application
StartupWMClass=sun-security-tools-PolicyTool
Categories=Development;Java;
Version=1.0
